* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 500px;
  height: 700px;
  margin: 0 auto;
  background-color: papayawhip;
}

h1 {
  width: 200px;
  color: firebrick;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0 auto;
  margin-top: 30px;
  border-bottom: brown double 6px;
}

div {
  width: 300px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
  /* margin-top: 100px; */
  /* border: red solid 2px; */
  /* background-image:url(); */
}
img {
  width: 300px;
  height: 300px;
}
a {
  text-decoration: none;
  color: white;
}

.setumei {
  font-size: 20px;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 10px;
}

a p {
  font-size: 20px;
  font-weight: 100;
}

#article {
  background-color: indianred;
}

#question {
  background-color: lightcoral;
}
